<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Partners In Health:  OpenMRS</title>
<meta http-equiv="REFRESH" content="0;url=https://<%= @site_domain %>/openmrs">
</HEAD>
<BODY>
</BODY>
</HTML>
